<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344391360548-65tirhnv86vcokc176aio59qt0qqm7e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344391360548-65tirhnv86vcokc176aio59qt0qqm7e7</string>
	<key>API_KEY</key>
	<string>AIzaSyBAEcs0D1YKG-V5f6rHJRsfp3fa9DU8rDY</string>
	<key>GCM_SENDER_ID</key>
	<string>344391360548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TestRJM.CRUD-TEST</string>
	<key>PROJECT_ID</key>
	<string>appiostest-c37db</string>
	<key>STORAGE_BUCKET</key>
	<string>appiostest-c37db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344391360548:ios:0594767fbcd4b84d4f38b1</string>
	<key>DATABASE_URL</key>
	<string>https://appiostest-c37db-default-rtdb.firebaseio.com</string>
</dict>
</plist>